:root {
	--border-radius: 2vw;
	--light-blue-color: #606080;
	--green-color: lightgreen;
	--yellow-color: yellow;
	--white-color: white;
}

body {
	font-family: sans-serif;
	background-color: #404060;
	color: var(--white-color);
}

header {
	flex-grow: 1;
	display: flex;
	align-items: center;
	z-index: 5;
}

h1,
h2 {
	width: 100%;
	text-align: center;
}

button {
	background-color: #00000000;
	color: var(--white-color);
	border: none;
}

#fade-layer {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.4;
	background-color: black;
	z-index: 0;
}

#fade-layer.visible {
	display: block;
}

aside {
	position: fixed;
	width: 80%;
	height: 100%;
	top: 0;
	right: -80%;
	transition: right 1s;
	background-color: var(--light-blue-color);
	display: flex;
	flex-direction: column;
	z-index: 10;
}

aside.visible {
	right: 0;
}

nav {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav ul {
	height: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 0;
}

nav li {
	list-style: none;
}

nav a {
	font-size: large;
	text-decoration: none;
	color: white;
}

footer {
	height: 20%;
	background-color: darkblue;
}

#rules {
	position: fixed;
	top: -50%;
	transition: top 1s;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60vw;
	height: 80vh;
	padding: 5vh;
	background-color: var(--light-blue-color);
	border: solid;
	border-radius: var(--border-radius);
	overflow-y: scroll;
	z-index: 8;
}

#rules.visible {
	top: 50%;
}

#rules article {
	display: flex;
	flex-direction: column;
}

#rules span {
	margin: 2% 0 2% 0;
}

#colors {
	display: flex;
	gap: 2%;
}

#colors>* {
	width: 100%;
	height: 10vw;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	border-radius: var(--border-radius);
}

#white {
	background-color: var(--white-color);
}

#yellow {
	background-color: var(--yellow-color);
}

#green {
	background-color: var(--green-color);
}

#rules ul {
	display: flex;
	flex-direction: column;
	margin: auto auto 5% auto;
	padding: 0;
}

#rules ul li {
	list-style: none;
}

#wrapper {
	display: flex;
	flex-direction: column;
	gap: 10vw;
	z-index: 0;
}

main {
	flex-grow: 2;
	display: grid;
	grid-template-areas:
		"info search submit"
		"1 suggestions 2";
	grid-template-rows: auto auto;
}

main>button {
	margin: 2vw;
}

#rules-button {
	grid-area: info;
}

#search-submit {
	grid-area: submit;
}

#search-bar {
	grid-area: search;
	width: 100%;
	border: none;
	border-radius: var(--border-radius);
}

#search-bar:focus {
	outline: none;
}

#search-bar.with-dropdown {
	border-radius: var(--border-radius) var(--border-radius) 0 0;
}

#search-dropdown {
	grid-area: suggestions;
	display: flex;
	flex-direction: column;
}

#search-dropdown>button {
	color: black;
	background-color: white;
	margin: 0;
	border: none;
	text-align: left;
}

#search-dropdown> :last-child {
	border-radius: 0 0 var(--border-radius) var(--border-radius);
}

#search-bar,
#search-dropdown>button {
	padding: 2vw;
	font-size: 150%;
}

hr {
	width: 100%;
	flex: 1;
	height: 1px;
}

.guessed {
	width: 80%;
	align-self: center;
	display: grid;
	grid-template-areas:
		"abbrev img"
		"pos img"
		"type type"
		"state melt";
	grid-template-rows: 2fr 2fr 1fr 1fr;
	grid-template-columns: 1fr 2fr;
	gap: 5vw;
}

.guessed>* {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid;
	border-radius: var(--border-radius);
	background-color: #202030;
	font-size: 150%;
}

.guessed>img {
	grid-area: img;
	width: 100%;
}

.abbrev {
	grid-area: abbrev;
}

.pos {
	grid-area: pos;
}

.type {
	grid-area: type;
}

.melt {
	grid-area: melt;
}

.state {
	grid-area: state;
}

.yellow {
	color: var(--yellow-color);
}

.green {
	color: var(--green-color);
}