body {
	font-family: sans-serif;
	background-color: #404060;
	color: white;
}

header {
	display: flex;
	align-items: center;
	z-index: 5;
}

header h1 {
	width: 100%;
	text-align: center;
}

button {
	background-color: #00000000;
	color: white;
	border: none;
	transition: color 0.5s;
}

button:hover {
	color: hotpink;
	cursor: pointer;
}

#fade-layer {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.4;
	background-color: black;
	z-index: 0;
}

#fade-layer.visible {
	display: block;
}

aside {
	position: fixed;
	width: 80%;
	height: 100%;
	top: 0;
	right: -80%;
	transition: right 1s;
	background-color: #606080;
	display: flex;
	flex-direction: column;
	z-index: 10;
}

aside.visible {
	right: 0;
}

nav {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav ul {
	height: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 0;
}

nav li {
	list-style: none;
}

nav a {
	font-size: large;
	text-decoration: none;
	color: white;
}

footer {
	height: 20%;
	background-color: darkblue;
}

#wrapper {
	z-index: 0;
}

#guess-section {
	display: flex;
	justify-content: center;
	align-items: center;
}

#guess-section button {
	margin: 2vw;
}


#search-bar {
	width: 100%;
	padding: 2vw;
	border: none;
	border-radius: 0.5rem;
	font-size: 100%;
	text-align: center;
}